Telegram_bot/flows.json
[{"id":"9b93a407.f1aef8","type":"tab","label":"Smart P. Counter","disabled":false,"info":""},{"id":"11a9b237.5c6f5e","type":"chatbot-telegram-receive","z":"9b93a407.f1aef8","bot":"569603c9.0a519c","botProduction":"","x":160,"y":160,"wires":[["e80c723e.442e6"]]},{"id":"6c5ea14f.a67c8","type":"chatbot-telegram-send","z":"9b93a407.f1aef8","bot":"569603c9.0a519c","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":510,"y":100,"wires":[["556190be.d4f6b"]]},{"id":"e80c723e.442e6","type":"chatbot-ask","z":"9b93a407.f1aef8","name":"Button Key","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"}],"message":"Aggiungi o rimuovi persone {{username}}","x":290,"y":280,"wires":[["6c5ea14f.a67c8","a4abe46d.8c4f08"]]},{"id":"a4abe46d.8c4f08","type":"debug","z":"9b93a407.f1aef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":250,"y":560,"wires":[]},{"id":"6fa97983.92d448","type":"debug","z":"9b93a407.f1aef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":460,"wires":[]},{"id":"9e2737a3.116758","type":"comment","z":"9b93a407.f1aef8","name":"Codice conv scelta","info":"var mem  = parseInt(msg.payload.buttons[0].label.charAt(1));\n\nmsg.payload = mem;\n\nreturn msg;","x":450,"y":460,"wires":[]},{"id":"556190be.d4f6b","type":"function","z":"9b93a407.f1aef8","name":"Selection","func":"var mem = parseInt(msg.payload.content.charAt(1));\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":320,"wires":[["6fa97983.92d448","d886a350.c04fd"]]},{"id":"d886a350.c04fd","type":"chatbot-telegram-send","z":"9b93a407.f1aef8","bot":"569603c9.0a519c","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":1120,"y":400,"wires":[["e80c723e.442e6"]]},{"id":"569603c9.0a519c","type":"chatbot-telegram-node","z":"","botname":"SmartPCounter_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]