Telegram_bot/smartPCounter_2.0(withPassword).json
[{"id":"f1ecef3a.f7c57","type":"tab","label":"Smart P. Counter 2.0","disabled":false,"info":""},{"id":"50066b3c.d05454","type":"comment","z":"f1ecef3a.f7c57","name":"Obiettivo finale","info":"Il bot deve essere in grado di:\n-Controllare il numero totale di accessi\n-Controllare il numero totale di accessi nella parte esterna dell'evento\n-Controllare il numero totale di accessi nella parte interna\n-Controllare il numero totale di accessi nelle singole stanze (2 in totale)","x":340,"y":40,"wires":[]},{"id":"bc4d143b.933498","type":"chatbot-telegram-receive","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","x":90,"y":540,"wires":[["eea92087.e8851"]]},{"id":"4a94854e.7483fc","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":530,"y":280,"wires":[["687ae7be.94a048","159772b.6583d8d"]]},{"id":"fc10b415.96ab78","type":"chatbot-ask","z":"f1ecef3a.f7c57","name":"Keyboard_home","buttons":[{"type":"keyboardButton","label":"TOTALE EVENTO"},{"type":"newline"},{"type":"keyboardButton","label":"PARTE ESTERNA"},{"type":"keyboardButton","label":"PARTE INTERNA"},{"type":"newline"},{"type":"keyboardButton","label":"STANZA 1"},{"type":"keyboardButton","label":"STANZA 2"}],"message":"In che stanza vuoi entrare?","x":320,"y":280,"wires":[["4a94854e.7483fc"]]},{"id":"687ae7be.94a048","type":"debug","z":"f1ecef3a.f7c57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":380,"wires":[]},{"id":"159772b.6583d8d","type":"switch","z":"f1ecef3a.f7c57","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"TOTALE EVENTO","vt":"str"},{"t":"eq","v":"PARTE ESTERNA","vt":"str"},{"t":"eq","v":"PARTE INTERNA","vt":"str"},{"t":"eq","v":"STANZA 1","vt":"str"},{"t":"eq","v":"STANZA 2","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":730,"y":280,"wires":[["41846852.0e1438"],["b14d2ae0.b91a28"],["e94517b0.a255a8"],["9b835e93.67148"],["a923cb72.9ffa68"]]},{"id":"41846852.0e1438","type":"chatbot-ask","z":"f1ecef3a.f7c57","name":"Keyboard_add","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"},{"type":"newline"},{"type":"keyboardButton","label":"HOME"}],"message":"Aggiungi o rimuovi persone {{username}}","x":680,"y":160,"wires":[["80fc1180.c160f"]]},{"id":"80fc1180.c160f","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":870,"y":160,"wires":[["5cf57edb.2bc51","41846852.0e1438","dc3821cf.0eb04","115789a6.f25196"]]},{"id":"b14d2ae0.b91a28","type":"chatbot-ask","z":"f1ecef3a.f7c57","name":"Keyboard_add","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"},{"type":"newline"},{"type":"keyboardButton","label":"HOME"}],"message":"Aggiungi o rimuovi persone {{username}}","x":960,"y":240,"wires":[["3acd147b.5e4f5c"]]},{"id":"5cf57edb.2bc51","type":"function","z":"f1ecef3a.f7c57","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":160,"wires":[["30b39fba.e6c6f"]]},{"id":"30b39fba.e6c6f","type":"counter","z":"f1ecef3a.f7c57","name":"","init":"0","step":"0","lower":"0","upper":"","mode":"increment","outputs":1,"x":1360,"y":160,"wires":[["c9c6174b.37b9e8"]]},{"id":"c9c6174b.37b9e8","type":"function","z":"f1ecef3a.f7c57","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":160,"wires":[["252355b9.88202a"]]},{"id":"252355b9.88202a","type":"chatbot-message","z":"f1ecef3a.f7c57","name":"Totale ","message":[{"message":"TOTALE EVENTO: {{payload}}"}],"language":"","x":1710,"y":200,"wires":[["1e6e1de5.f7e4b2"]]},{"id":"1e6e1de5.f7e4b2","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":false,"passThrough":true,"errorOutput":false,"outputs":1,"x":1750,"y":120,"wires":[[]]},{"id":"dc3821cf.0eb04","type":"debug","z":"f1ecef3a.f7c57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":100,"wires":[]},{"id":"115789a6.f25196","type":"switch","z":"f1ecef3a.f7c57","name":"Switch_home","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"HOME","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1180,"y":580,"wires":[["fc10b415.96ab78"]]},{"id":"4699b.d74a16654","type":"function","z":"f1ecef3a.f7c57","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":240,"wires":[["8e71333e.b7462"]]},{"id":"8e71333e.b7462","type":"counter","z":"f1ecef3a.f7c57","name":"","init":"0","step":"0","lower":"0","upper":"","mode":"increment","outputs":1,"x":1580,"y":260,"wires":[["a6286851.14c368"]]},{"id":"a6286851.14c368","type":"function","z":"f1ecef3a.f7c57","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":260,"wires":[["41cab6d3.e628b8"]]},{"id":"41cab6d3.e628b8","type":"chatbot-message","z":"f1ecef3a.f7c57","name":"Totale ","message":[{"message":"TOTALE ESTERNO: {{payload}}"}],"language":"","x":1930,"y":260,"wires":[["464b2f44.0cb91"]]},{"id":"464b2f44.0cb91","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":false,"passThrough":true,"errorOutput":false,"outputs":1,"x":1970,"y":160,"wires":[[]]},{"id":"3acd147b.5e4f5c","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":1190,"y":240,"wires":[["4699b.d74a16654","b14d2ae0.b91a28","115789a6.f25196"]]},{"id":"342b700.862459","type":"function","z":"f1ecef3a.f7c57","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":360,"wires":[["eca645aa.675188"]]},{"id":"eca645aa.675188","type":"counter","z":"f1ecef3a.f7c57","name":"","init":"0","step":"0","lower":"0","upper":"","mode":"increment","outputs":1,"x":1560,"y":340,"wires":[["5cefa366.b9604c"]]},{"id":"5cefa366.b9604c","type":"function","z":"f1ecef3a.f7c57","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":340,"wires":[["4a8296a.be86f68"]]},{"id":"4a8296a.be86f68","type":"chatbot-message","z":"f1ecef3a.f7c57","name":"Totale ","message":[{"message":"TOTALE INTERNO: {{payload}}"}],"language":"","x":1910,"y":360,"wires":[["4ba09828.82db78"]]},{"id":"4ba09828.82db78","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":false,"passThrough":true,"errorOutput":false,"outputs":1,"x":2090,"y":320,"wires":[[]]},{"id":"7aa05a6b.d6f904","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":1170,"y":340,"wires":[["342b700.862459","e94517b0.a255a8","115789a6.f25196"]]},{"id":"e94517b0.a255a8","type":"chatbot-ask","z":"f1ecef3a.f7c57","name":"Keyboard_add","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"},{"type":"newline"},{"type":"keyboardButton","label":"HOME"}],"message":"Aggiungi o rimuovi persone {{username}}","x":940,"y":340,"wires":[["7aa05a6b.d6f904"]]},{"id":"68d7a3f6.fc781c","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":1170,"y":800,"wires":[["3d44f05.89a2d1","115789a6.f25196","9b835e93.67148"]]},{"id":"3d44f05.89a2d1","type":"function","z":"f1ecef3a.f7c57","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":840,"wires":[["66a1901b.ddf14"]]},{"id":"66a1901b.ddf14","type":"counter","z":"f1ecef3a.f7c57","name":"","init":"0","step":"0","lower":"0","upper":"","mode":"increment","outputs":1,"x":1560,"y":800,"wires":[["54ad4264.5cb26c"]]},{"id":"54ad4264.5cb26c","type":"function","z":"f1ecef3a.f7c57","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":720,"wires":[["8d46df7f.06e14"]]},{"id":"8d46df7f.06e14","type":"chatbot-message","z":"f1ecef3a.f7c57","name":"Totale ","message":[{"message":"TOTALE STANZA(1): {{payload}}"}],"language":"","x":1750,"y":660,"wires":[["5f44a30d.ff60dc"]]},{"id":"5f44a30d.ff60dc","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":false,"passThrough":true,"errorOutput":false,"outputs":1,"x":2010,"y":620,"wires":[[]]},{"id":"9b835e93.67148","type":"chatbot-ask","z":"f1ecef3a.f7c57","name":"Keyboard_add","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"},{"type":"newline"},{"type":"keyboardButton","label":"HOME"}],"message":"Aggiungi o rimuovi persone {{username}}","x":900,"y":800,"wires":[["68d7a3f6.fc781c"]]},{"id":"364f9be5.d9b8d4","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":1230,"y":980,"wires":[["8057485b.b76038","115789a6.f25196","a923cb72.9ffa68"]]},{"id":"8057485b.b76038","type":"function","z":"f1ecef3a.f7c57","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":980,"wires":[["c81a5afc.3d8a78"]]},{"id":"c81a5afc.3d8a78","type":"counter","z":"f1ecef3a.f7c57","name":"","init":"0","step":"0","lower":"0","upper":"","mode":"increment","outputs":1,"x":1620,"y":960,"wires":[["1fe758b0.34f4d7"]]},{"id":"1fe758b0.34f4d7","type":"function","z":"f1ecef3a.f7c57","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":1120,"wires":[["f2cd144a.6e2ea8"]]},{"id":"f2cd144a.6e2ea8","type":"chatbot-message","z":"f1ecef3a.f7c57","name":"Totale ","message":[{"message":"TOTALE STANZA(2): {{payload}}"}],"language":"","x":1810,"y":1040,"wires":[["e2ca581f.ddfa48"]]},{"id":"e2ca581f.ddfa48","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":false,"passThrough":true,"errorOutput":false,"outputs":1,"x":2070,"y":980,"wires":[[]]},{"id":"a923cb72.9ffa68","type":"chatbot-ask","z":"f1ecef3a.f7c57","name":"Keyboard_add","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"},{"type":"newline"},{"type":"keyboardButton","label":"HOME"}],"message":"Aggiungi o rimuovi persone {{username}}","x":900,"y":980,"wires":[["364f9be5.d9b8d4"]]},{"id":"eea92087.e8851","type":"chatbot-message","z":"f1ecef3a.f7c57","name":"","message":[{"message":"Insert key"}],"language":"","x":332,"y":627.3333129882812,"wires":[["58026d00.c3fd54"]]},{"id":"58026d00.c3fd54","type":"chatbot-telegram-send","z":"f1ecef3a.f7c57","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":290,"y":780,"wires":[["231f8b21.e948f4"]]},{"id":"231f8b21.e948f4","type":"switch","z":"f1ecef3a.f7c57","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Pass","vt":"str"},{"t":"neq","v":"Pass","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":760,"wires":[["fc10b415.96ab78"],["eea92087.e8851"]]},{"id":"17235c42.366b94","type":"chatbot-telegram-node","z":"","botname":"SmartPCounter2","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]