Telegram_bot/smartpcounter_2.0.json
[{"id":"b5a4552.b8bc3a8","type":"tab","label":"Smart P. Counter 2.0","disabled":true,"info":""},{"id":"859b20d1.5a0be","type":"comment","z":"b5a4552.b8bc3a8","name":"Obiettivo finale","info":"Il bot deve essere in grado di:\n-Controllare il numero totale di accessi\n-Controllare il numero totale di accessi nella parte esterna dell'evento\n-Controllare il numero totale di accessi nella parte interna\n-Controllare il numero totale di accessi nelle singole stanze (2 in totale)","x":340,"y":40,"wires":[]},{"id":"cfc62f07.1cae3","type":"chatbot-telegram-receive","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","x":110,"y":280,"wires":[["1aff40ae.2ae35f"]]},{"id":"a10c6d7c.ad214","type":"chatbot-telegram-send","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":530,"y":280,"wires":[["372f63a7.293bfc","63237022.2a059"]]},{"id":"1aff40ae.2ae35f","type":"chatbot-ask","z":"b5a4552.b8bc3a8","name":"Keyboard_home","buttons":[{"type":"keyboardButton","label":"TOTALE EVENTO"},{"type":"newline"},{"type":"keyboardButton","label":"PARTE ESTERNA"},{"type":"keyboardButton","label":"PARTE INTERNA"},{"type":"newline"},{"type":"keyboardButton","label":"STANZA 1"},{"type":"keyboardButton","label":"STANZA 2"}],"message":"In che stanza vuoi entrare?","x":320,"y":280,"wires":[["a10c6d7c.ad214"]]},{"id":"372f63a7.293bfc","type":"debug","z":"b5a4552.b8bc3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":380,"wires":[]},{"id":"63237022.2a059","type":"switch","z":"b5a4552.b8bc3a8","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"TOTALE EVENTO","vt":"str"},{"t":"eq","v":"PARTE ESTERNA","vt":"str"},{"t":"eq","v":"PARTE INTERNA","vt":"str"},{"t":"eq","v":"STANZA 1","vt":"str"},{"t":"eq","v":"STANZA 2","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":730,"y":280,"wires":[["8417f1e7.8268b"],["3cfacf6d.65fd7"],["cbf438f4.36e578"],["36b6db3f.8496f4"],["86a56695.95e468"]]},{"id":"8417f1e7.8268b","type":"chatbot-ask","z":"b5a4552.b8bc3a8","name":"Keyboard_add","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"},{"type":"newline"},{"type":"keyboardButton","label":"HOME"}],"message":"Aggiungi o rimuovi persone {{username}}","x":680,"y":160,"wires":[["a96e1216.149d4"]]},{"id":"a96e1216.149d4","type":"chatbot-telegram-send","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":870,"y":160,"wires":[["9b116306.3553a","8417f1e7.8268b","8d090349.ebf32","de93169d.a715c8"]]},{"id":"3cfacf6d.65fd7","type":"chatbot-ask","z":"b5a4552.b8bc3a8","name":"Keyboard_add","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"},{"type":"newline"},{"type":"keyboardButton","label":"HOME"}],"message":"Aggiungi o rimuovi persone {{username}}","x":960,"y":240,"wires":[["3929aa00.b54426"]]},{"id":"9b116306.3553a","type":"function","z":"b5a4552.b8bc3a8","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":160,"wires":[["d2fe6cf7.f4cf3"]]},{"id":"d2fe6cf7.f4cf3","type":"counter","z":"b5a4552.b8bc3a8","name":"","init":"0","step":"0","lower":"0","upper":"","mode":"increment","outputs":1,"x":1360,"y":160,"wires":[["72c8f170.b7e9d"]]},{"id":"72c8f170.b7e9d","type":"function","z":"b5a4552.b8bc3a8","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":160,"wires":[["a388da8b.c15468"]]},{"id":"a388da8b.c15468","type":"chatbot-message","z":"b5a4552.b8bc3a8","name":"Totale ","message":[{"message":"TOTALE EVENTO: {{payload}}"}],"language":"","x":1710,"y":200,"wires":[["52187307.5e486c"]]},{"id":"52187307.5e486c","type":"chatbot-telegram-send","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","track":false,"passThrough":true,"errorOutput":false,"outputs":1,"x":1750,"y":120,"wires":[[]]},{"id":"8d090349.ebf32","type":"debug","z":"b5a4552.b8bc3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":100,"wires":[]},{"id":"de93169d.a715c8","type":"switch","z":"b5a4552.b8bc3a8","name":"Switch_home","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"HOME","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1180,"y":580,"wires":[["1aff40ae.2ae35f"]]},{"id":"fba1ab8b.222bf8","type":"function","z":"b5a4552.b8bc3a8","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":240,"wires":[["aa810b5f.0c26a8"]]},{"id":"aa810b5f.0c26a8","type":"counter","z":"b5a4552.b8bc3a8","name":"","init":"0","step":"0","lower":"0","upper":"","mode":"increment","outputs":1,"x":1580,"y":260,"wires":[["bc8807db.949758"]]},{"id":"bc8807db.949758","type":"function","z":"b5a4552.b8bc3a8","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":260,"wires":[["435cf0ab.68911"]]},{"id":"435cf0ab.68911","type":"chatbot-message","z":"b5a4552.b8bc3a8","name":"Totale ","message":[{"message":"TOTALE ESTERNO: {{payload}}"}],"language":"","x":1930,"y":260,"wires":[["85820cf5.2786e"]]},{"id":"85820cf5.2786e","type":"chatbot-telegram-send","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","track":false,"passThrough":true,"errorOutput":false,"outputs":1,"x":1970,"y":160,"wires":[[]]},{"id":"3929aa00.b54426","type":"chatbot-telegram-send","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":1190,"y":240,"wires":[["fba1ab8b.222bf8","3cfacf6d.65fd7","de93169d.a715c8"]]},{"id":"acfc296e.06ab98","type":"function","z":"b5a4552.b8bc3a8","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":360,"wires":[["914f0b26.89e0c8"]]},{"id":"914f0b26.89e0c8","type":"counter","z":"b5a4552.b8bc3a8","name":"","init":"0","step":"0","lower":"0","upper":"","mode":"increment","outputs":1,"x":1560,"y":340,"wires":[["1ee67447.8bab6c"]]},{"id":"1ee67447.8bab6c","type":"function","z":"b5a4552.b8bc3a8","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":340,"wires":[["6da645c4.b1549c"]]},{"id":"6da645c4.b1549c","type":"chatbot-message","z":"b5a4552.b8bc3a8","name":"Totale ","message":[{"message":"TOTALE INTERNO: {{payload}}"}],"language":"","x":1910,"y":360,"wires":[["cb737b70.9b7318"]]},{"id":"cb737b70.9b7318","type":"chatbot-telegram-send","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","track":false,"passThrough":true,"errorOutput":false,"outputs":1,"x":2090,"y":320,"wires":[[]]},{"id":"7a8677b9.2bae28","type":"chatbot-telegram-send","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":1170,"y":340,"wires":[["acfc296e.06ab98","cbf438f4.36e578","de93169d.a715c8"]]},{"id":"cbf438f4.36e578","type":"chatbot-ask","z":"b5a4552.b8bc3a8","name":"Keyboard_add","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"},{"type":"newline"},{"type":"keyboardButton","label":"HOME"}],"message":"Aggiungi o rimuovi persone {{username}}","x":940,"y":340,"wires":[["7a8677b9.2bae28"]]},{"id":"9ef7ab8f.2a9a38","type":"chatbot-telegram-send","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":1170,"y":800,"wires":[["d80baf20.4b4e","de93169d.a715c8","36b6db3f.8496f4"]]},{"id":"d80baf20.4b4e","type":"function","z":"b5a4552.b8bc3a8","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":840,"wires":[["8c8a4f95.60469"]]},{"id":"8c8a4f95.60469","type":"counter","z":"b5a4552.b8bc3a8","name":"","init":"0","step":"0","lower":"0","upper":"","mode":"increment","outputs":1,"x":1560,"y":800,"wires":[["7104f24b.996c3c"]]},{"id":"7104f24b.996c3c","type":"function","z":"b5a4552.b8bc3a8","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":720,"wires":[["b4940c92.810b1"]]},{"id":"b4940c92.810b1","type":"chatbot-message","z":"b5a4552.b8bc3a8","name":"Totale ","message":[{"message":"TOTALE STANZA(1): {{payload}}"}],"language":"","x":1750,"y":660,"wires":[["1d7f25b2.c1f3ea"]]},{"id":"1d7f25b2.c1f3ea","type":"chatbot-telegram-send","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","track":false,"passThrough":true,"errorOutput":false,"outputs":1,"x":2010,"y":620,"wires":[[]]},{"id":"36b6db3f.8496f4","type":"chatbot-ask","z":"b5a4552.b8bc3a8","name":"Keyboard_add","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"},{"type":"newline"},{"type":"keyboardButton","label":"HOME"}],"message":"Aggiungi o rimuovi persone {{username}}","x":900,"y":800,"wires":[["9ef7ab8f.2a9a38"]]},{"id":"dcaec385.800b5","type":"chatbot-telegram-send","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":1230,"y":980,"wires":[["340c6f9a.e2702","de93169d.a715c8","86a56695.95e468"]]},{"id":"340c6f9a.e2702","type":"function","z":"b5a4552.b8bc3a8","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":980,"wires":[["f4526639.ed2a88"]]},{"id":"f4526639.ed2a88","type":"counter","z":"b5a4552.b8bc3a8","name":"","init":"0","step":"0","lower":"0","upper":"","mode":"increment","outputs":1,"x":1620,"y":960,"wires":[["5bb18938.840f78"]]},{"id":"5bb18938.840f78","type":"function","z":"b5a4552.b8bc3a8","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":1120,"wires":[["17aa6d71.7c00c3"]]},{"id":"17aa6d71.7c00c3","type":"chatbot-message","z":"b5a4552.b8bc3a8","name":"Totale ","message":[{"message":"TOTALE STANZA(2): {{payload}}"}],"language":"","x":1810,"y":1040,"wires":[["db81292f.5a5598"]]},{"id":"db81292f.5a5598","type":"chatbot-telegram-send","z":"b5a4552.b8bc3a8","bot":"17235c42.366b94","botProduction":"","track":false,"passThrough":true,"errorOutput":false,"outputs":1,"x":2070,"y":980,"wires":[[]]},{"id":"86a56695.95e468","type":"chatbot-ask","z":"b5a4552.b8bc3a8","name":"Keyboard_add","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"},{"type":"newline"},{"type":"keyboardButton","label":"HOME"}],"message":"Aggiungi o rimuovi persone {{username}}","x":900,"y":980,"wires":[["dcaec385.800b5"]]},{"id":"17235c42.366b94","type":"chatbot-telegram-node","z":"","botname":"SmartPCounter2","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]