Telegram_bot/smartPCounter_with_mqtt.json
[{"id":"9b93a407.f1aef8","type":"tab","label":"Smart P. Counter","disabled":false,"info":""},{"id":"11a9b237.5c6f5e","type":"chatbot-telegram-receive","z":"9b93a407.f1aef8","bot":"569603c9.0a519c","botProduction":"","x":230,"y":200,"wires":[["e80c723e.442e6"]]},{"id":"6c5ea14f.a67c8","type":"chatbot-telegram-send","z":"9b93a407.f1aef8","bot":"569603c9.0a519c","botProduction":"","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":390,"y":400,"wires":[["262dc30.5972c3e","e80c723e.442e6"]]},{"id":"e80c723e.442e6","type":"chatbot-ask","z":"9b93a407.f1aef8","name":"Button Key","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"}],"message":"Aggiungi o rimuovi persone {{username}}","x":290,"y":280,"wires":[["6c5ea14f.a67c8"]]},{"id":"6fa97983.92d448","type":"debug","z":"9b93a407.f1aef8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":60,"wires":[]},{"id":"188b9abc.698c15","type":"counter","z":"9b93a407.f1aef8","name":"","init":"0","step":"0","lower":"0","upper":"","mode":"increment","outputs":1,"x":880,"y":160,"wires":[["82e02c1.aa3cbd","6fa97983.92d448"]]},{"id":"262dc30.5972c3e","type":"function","z":"9b93a407.f1aef8","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":140,"wires":[["188b9abc.698c15"]]},{"id":"b758adac.7434f","type":"chatbot-message","z":"9b93a407.f1aef8","name":"","message":[{"message":"PERSONE TOTALI: {{payload}}"}],"language":"","x":1290,"y":260,"wires":[["130b820a.4e334e","ae5eb429.bb70b8"]]},{"id":"130b820a.4e334e","type":"chatbot-telegram-send","z":"9b93a407.f1aef8","bot":"569603c9.0a519c","botProduction":"","track":false,"passThrough":true,"errorOutput":false,"outputs":1,"x":1350,"y":160,"wires":[[]]},{"id":"82e02c1.aa3cbd","type":"function","z":"9b93a407.f1aef8","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":260,"wires":[["b758adac.7434f"]]},{"id":"58d3cdd3.676634","type":"debug","z":"9b93a407.f1aef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":40,"wires":[]},{"id":"355a416e.01594e","type":"mqtt in","z":"9b93a407.f1aef8","name":"","topic":"/canaleArduino","qos":"0","datatype":"utf8","broker":"514a7775.c04218","x":400,"y":620,"wires":[["b9e4d8a9.a88148"]]},{"id":"cbd8c707.93a358","type":"debug","z":"9b93a407.f1aef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1510,"y":620,"wires":[]},{"id":"d158805f.e39a","type":"inject","z":"9b93a407.f1aef8","name":"inject \"open\" command","topic":"/hello","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":760,"wires":[["304fd656.6ee91a"]]},{"id":"304fd656.6ee91a","type":"mqtt out","z":"9b93a407.f1aef8","name":"","topic":"/canaleArduino2","qos":"","retain":"","broker":"514a7775.c04218","x":880,"y":780,"wires":[]},{"id":"e85c5a12.ae9cd8","type":"inject","z":"9b93a407.f1aef8","name":"inject \"closed\" command","topic":"/hello","payload":"closed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":840,"wires":[["304fd656.6ee91a"]]},{"id":"ad8d56eb.8fdfd8","type":"mosca in","z":"9b93a407.f1aef8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"smart p counter","username":"mqtt_user","password":"mqtt_password","dburl":"","x":980,"y":380,"wires":[[]]},{"id":"b9e4d8a9.a88148","type":"switch","z":"9b93a407.f1aef8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"+1","vt":"str"},{"t":"eq","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":620,"wires":[["4af1a8f7.5b11b8"],["8c3771e3.6498b"]]},{"id":"4af1a8f7.5b11b8","type":"change","z":"9b93a407.f1aef8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":560,"wires":[["466cab4.03f4054"]]},{"id":"8c3771e3.6498b","type":"change","z":"9b93a407.f1aef8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":660,"wires":[["466cab4.03f4054"]]},{"id":"5586a05c.8a224","type":"counter","z":"9b93a407.f1aef8","name":"","init":"0","step":"0","lower":"","upper":"","mode":"increment","outputs":"1","x":1500,"y":700,"wires":[["cbd8c707.93a358"]]},{"id":"466cab4.03f4054","type":"function","z":"9b93a407.f1aef8","name":"","func":"var mem = parseInt(msg.payload);\n\nvar increment = msg.increment = mem;\n\nmsg.payload = increment;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":620,"wires":[["188b9abc.698c15"]]},{"id":"1db8c690.cc6df9","type":"debug","z":"9b93a407.f1aef8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1260,"y":440,"wires":[]},{"id":"ae5eb429.bb70b8","type":"debug","z":"9b93a407.f1aef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1500,"y":320,"wires":[]},{"id":"569603c9.0a519c","type":"chatbot-telegram-node","z":"","botname":"SmartPCounter_Bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"514a7775.c04218","type":"mqtt-broker","z":"","name":"eclipse","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]