Telegram_bot/SmartPCounter_bot.json
[{"id":"9b93a407.f1aef8","type":"tab","label":"Smart P. Counter","disabled":false,"info":""},{"id":"11a9b237.5c6f5e","type":"chatbot-telegram-receive","z":"9b93a407.f1aef8","bot":"569603c9.0a519c","botProduction":"","x":160,"y":160,"wires":[["e80c723e.442e6"]]},{"id":"6c5ea14f.a67c8","type":"chatbot-telegram-send","z":"9b93a407.f1aef8","bot":"569603c9.0a519c","botProduction":"","track":true,"passThrough":false,"outputs":1,"x":510,"y":100,"wires":[["262dc30.5972c3e"]]},{"id":"e80c723e.442e6","type":"chatbot-ask","z":"9b93a407.f1aef8","name":"Button Key","buttons":[{"type":"keyboardButton","label":"+1"},{"type":"keyboardButton","label":"+2"},{"type":"keyboardButton","label":"+5"},{"type":"newline"},{"type":"keyboardButton","label":"-1"},{"type":"keyboardButton","label":"-2"},{"type":"keyboardButton","label":"-5"}],"message":"Aggiungi o rimuovi persone {{username}}","x":290,"y":280,"wires":[["6c5ea14f.a67c8"]]},{"id":"6fa97983.92d448","type":"debug","z":"9b93a407.f1aef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":60,"wires":[]},{"id":"188b9abc.698c15","type":"counter","z":"9b93a407.f1aef8","name":"","init":"0","step":"1","lower":"0","upper":"","mode":"increment","outputs":"1","x":840,"y":300,"wires":[["6fa97983.92d448","82e02c1.aa3cbd"]]},{"id":"262dc30.5972c3e","type":"function","z":"9b93a407.f1aef8","name":"selection","func":"var mem = parseInt(msg.payload.content);\nvar increment;\n\nswitch(mem){\n    case 1:\n        increment = msg.increment = 1;\n        break;\n    case 2:\n        increment = msg.increment = 2;\n        break\n    case 5:\n        increment = msg.increment = 5;\n        break;\n    case -1:\n        increment = msg.increment = -1;\n        break;\n    case -2:\n        increment = msg.increment = -2;\n        break;\n    case -5:\n        increment = msg.increment = -5;\n        break;\n   }\n\nmsg.payload = increment;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["188b9abc.698c15"]]},{"id":"b758adac.7434f","type":"chatbot-message","z":"9b93a407.f1aef8","name":"","message":[{"message":"PERSONE TOTALI: {{payload}}"}],"language":"","x":1210,"y":360,"wires":[["130b820a.4e334e"]]},{"id":"130b820a.4e334e","type":"chatbot-telegram-send","z":"9b93a407.f1aef8","bot":"569603c9.0a519c","botProduction":"","track":false,"passThrough":true,"outputs":1,"x":1230,"y":160,"wires":[["e80c723e.442e6"]]},{"id":"82e02c1.aa3cbd","type":"function","z":"9b93a407.f1aef8","name":"countSend","func":"var a = msg.count;\n\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":320,"wires":[["b758adac.7434f"]]},{"id":"569603c9.0a519c","type":"chatbot-telegram-node","z":"","botname":"SmartPCounter_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"}]